/*  -webkit-transition: background-color 2s, margin-left */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.new-form input[type=date],
.new-form input[type=number] {
  width: auto;
}

.new-form .controls {
  display: inline-block;
}

.new-meet {
  float: right;
}

.nav i {
  float: right;
  margin-top: 3px;
}

.table-links tbody tr {
  cursor: pointer;
}

footer {
  text-align: center;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}