<div data-role="header" data-theme="b">
    <a class="ui-btn-left" data-icon="delete" data-theme="b">Cancel</a>
    <h1>Add Gymnast</h1>
    <a class="ui-btn-right" data-icon="plus" data-theme="b">Save</a>
</div>

<div data-role="content" data-theme="c">
    <ul data-role="listview" data-inset="true">
        <li><input type="text" name="firstname" placeholder="first"/></li>
        <li><input type="text" name="lastname" placeholder="last"/></lib>
        <li><input type="date" name="date" value="" placeholder="birth date"></li>
    </ul>
<div>