<div data-role="header" data-theme="b">
    <a href="#" class="ui-btn-left" data-icon="minus" data-theme="b">Previous</a>
    <h1><%= name %></h1>
</div>

<div class="ui-body ui-body-b" data-role="content">
    <h3><%= name %></h3>
    <div><%= location %></div>
    <div><%= date %></div>

    <ul id="meet-gymnastlist" data-role="listview" data-filter="false" data-ajax="false" data-inset="true" data-theme="d">
    <% _.each( gymnasts, function( gymnast, i ){ %> 
        <li>
            <a href="#meet/<%= id %>/gymnast/<%= id %>">
                <h3><%= gymnast.name %></h3>
                <ul class="events">
                    <li>
                        <div>FX:</div>
                        <span class="score"><%= gymnast.floor %></span>
                    </li>
                    <li>
                        <div>PH:</div>
                        <span class="score"><%= gymnast.pommel %></span>
                    </li>
                    <li>
                        <div>HB:</div>
                        <span class="score"><%= gymnast.pommel %></span>
                    </li>
                    <li>
                        <div>R:</div>
                        <span class="score"><%= gymnast.pommel %></span>
                    </li>
                    <li>
                        <div>V:</div>
                        <span class="score"><%= gymnast.pommel %></span>
                    </li>
                    <li>
                        <div>PB:</div>
                        <span class="score"><%= gymnast.pommel %></span>
                    </li>
                </ul>
            </a>
        </li>           
    <% }); %>
    </ul>   
<div>